.categories-section{
    padding:80px 8%;
    background:#FFF8F6;
}

.section-title{
    text-align:center;
    margin-bottom:50px;
}

.section-title h2{
    font-size:42px;
    color:#444;
    font-family:"Playfair Display", serif;
}

.section-title p{
    margin-top:12px;
    color:#777;
    font-size:17px;
}

.category-grid{
    display:grid;
    grid-template-columns:repeat(6,1fr);
    gap:30px;
}

.category-card{
    height:180px;
    width:180px;
    position:relative;
    overflow:hidden;
    border-radius:25px;
    text-decoration:none;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.35s;
    aspect-ratio:1/1;
}

.category-card:hover{
    transform:translateY(-8px);
}

.category-card img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.5s;
}

.category-card:hover img{
    transform:scale(1.1);
}

.category-overlay{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    padding:18px;
    background:linear-gradient(
        transparent,
        rgba(0,0,0,.75)
    );
}

.category-overlay h3{
    color:white;
    font-size:22px;
    font-weight:600;
}

/* Tablet */

@media(max-width:992px){

.category-grid{

    grid-template-columns:repeat(6,1fr);

}

}

/* Mobile */

@media(max-width:768px){

.categories-section{

    padding:60px 20px;

}

.section-title h2{

    font-size:34px;

}

.category-grid{

    grid-template-columns:1fr;

}

}