.product-details-page{
    max-width:1400px;
    margin:auto;
    padding:60px 30px;
}

.product-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;
    align-items:start;
}

.main-image{
    width:100%;
    border-radius:20px;
    overflow:hidden;
    background:#FFF8F6;
}

.main-image img{
    width:100%;
    display:block;
}

.thumbnail-container{
    display:flex;
    gap:15px;
    margin-top:20px;
}

.thumbnail-container img{
    width:90px;
    height:90px;
    object-fit:cover;
    border-radius:12px;
    cursor:pointer;
    border:2px solid transparent;
    transition:.3s;
}

.thumbnail-container img:hover{
    border-color:#D48CA3;
}

.right-section h1{
    font-size:40px;
    color:#333;
}

.right-section h2{
    margin:20px 0;
    color:#D48CA3;
    font-size:34px;
}

.availability{
    display:flex;
    gap:10px;
    margin-bottom:25px;
}

.stock{
    color:green;
    font-weight:600;
}

.out-stock{
    color:red;
    font-weight:600;
}

.description h3,
.quantity h3{
    margin-bottom:10px;
}

.description p{
    color:#666;
    line-height:1.8;
    margin-bottom:30px;
}

.quantity-box{
    display:flex;
    align-items:center;
    gap:20px;
    margin-bottom:35px;
}

.quantity-box button{
    width:40px;
    height:40px;
    border:none;
    background:#D48CA3;
    color:#fff;
    border-radius:50%;
    cursor:pointer;
}

.quantity-box span{
    font-size:22px;
    font-weight:600;
}

.buttons{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.buttons button{
    padding:15px;
    border:none;
    border-radius:12px;
    font-size:17px;
    cursor:pointer;
}

.wishlist-btn{
    background:#fff;
    border:2px solid #D48CA3 !important;
    color:#D48CA3;
}

.cart-btn{
    background:#D48CA3;
    color:white;
}

.order-btn{
    background:#333;
    color:white;
}

@media(max-width:900px){

.product-container{
    grid-template-columns:1fr;
}

.right-section h1{
    font-size:30px;
}

.right-section h2{
    font-size:28px;
}

.thumbnail-container img{
    width:70px;
    height:70px;
}

}